<ul>
    <li>
        <a routerLink="/admin" routerLinkActive="active">admin</a>
    </li>
    <li>
        <a routerLink="all-bookings" routerLinkActive="active">All Bookings</a>
    </li>
    <li>
        <a routerLink="unverified-bookings" routerLinkActive="active">Unverified Bookings</a>
    </li>
    <li>
        <a routerLink="verified-bookings" routerLinkActive="active">Verified Bookings</a>
    </li>
    <li>
        <a routerLink="all-users" routerLinkActive="active">All Users</a>
    </li>
    <li>
        <a routerLink="unverified-users" routerLinkActive="active">Unverified Users</a>
    </li>
    <li>
        <a routerLink="verified-users" routerLinkActive="active">Verified Users</a>
    </li>
    <li>
        <a routerLink="upload-car" routerLinkActive="active">Upload Car</a>
    </li>
    <li>
        <a routerLink="upload-car-images" routerLinkActive="active">Upload Car Images</a>
    </li>
    <li>
        <a routerLink="all-cars" routerLinkActive="active">All Cars</a>
    </li>
</ul>